[submodule "cc-backend"]
	path = cc-backend
	url = git@github.com:CharityChest/cc-backend.git
[submodule "cc-root-console"]
	path = cc-root-console
	url = git@github.com:CharityChest/cc-root-console.git
[submodule "cc-backend-root-console"]
	path = cc-backend-root-console
	url = git@github.com:CharityChest/cc-backend-root-console.git
[submodule "oauth2-server"]
	path = oauth2-server
	url = git@github.com:willypuzzle/oauth2-server.git
[submodule "oauth2-client"]
	path = oauth2-client
	url = git@github.com:willypuzzle/oauth2-client.git
